APP_NAME=CrosRefCache
APP_ENV=local
APP_KEY=base64:Cvbg/tisD3yE1itmH0oNo/hf6oDKikaXM3qHLIQahyM=
APP_DEBUG=true
APP_URL=http://localhost:8080

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=database
DB_PORT=3306
DB_DATABASE=researchfish
DB_USERNAME=researchfish
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

CROSREF_URL=https://api.crossref.org
CROSREF_USER_AGENT="Sharp/1.1 (https://example.org/Sharp/; mailto:ricksharp7@gmail.com)"